<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Document</title>
</head>
<body>
    <h1>Bezeroak</h1>
    <table class="table">
        <tr>
            <th>DNI</th>
            <th>Izena</th>
            <th>Abizena</th>
            <th>Adina</th>
            <th></th>
            <th></th>
        </tr>
        {% for bezero in bezeroak %}
        <tr>
            <td>{{bezero.dni}}</td>
            <td>{{bezero.izena}}</td>
            <td>{{bezero.abizena}}</td>
            <td>{{bezero.adina}}</td>
            <td><a class="btn btn-danger" href="ezabatubezero/{{bezero.dni}}">Ezabatu</a></td>
            <td><a class="btn btn-primary" href="eguneratubezero/{{bezero.dni}}">Aldatu</a></td>
        </tr>
        {% endfor%}
    </table>

    <a class="btn btn-success" href="gehitubezeroa/">Gehitu bezeroa</a>
    
</body>
</html>